{% extends 'catalog/base_template.html' %}
{% block title %} Редактирование заявки {% endblock %}
{% block content %}

    <div style="margin-bottom: 30px;">
        <h3>Текущая информация:</h3>
        <p><strong>Название:</strong> {{ changeable_request.title }}</p>
        <p><strong>Описание:</strong> {{ changeable_request.description }}</p>
        <p><strong>Текущая категория:</strong> {{ changeable_request.category }}</p>
        <p><strong>Текущий статус:</strong> {{ changeable_request.status }}</p>
        {% if changeable_request.image %}
            <p><strong>Изображение:</strong></p>
            <img src="{{ changeable_request.image.url }}" alt="Изображение заявки" style="height: 200px; width: 200px">
        {% endif %}
    </div>

    <div style="display: flex; gap: 50px;">
        <div style="border: 1px solid; padding: 20px; border-radius: 5px;">
            <h3>Изменить статус</h3>

                {% if error %}
                    <div style="color: red; margin-bottom: 20px;">
                        {{ error }}
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div style="color: red; margin-bottom: 20px;">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ field.label }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-group">

                    {%if changeable_request.status.name == "New"%}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.worker_comment.id_for_label }}">{{ form.worker_comment.label }}:</label>
                            {{ form.worker_comment }}
                            {% if form.worker_comment.help_text %}
                                <small>{{ form.worker_comment.help_text }}</small>
                            {% endif %}
                        </div>

                        <button type="submit" name="edit_status_new">Изменить на in_work</button>
                    {%else%}
                        <button type="submit" disabled>Изменить на in_work</button>
                    {% endif %}
                    </form>

                    {%if changeable_request.status.name == "New"%}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.completed_image.id_for_label }}">{{ form.completed_image.label }}:</label>
                            {{ form.completed_image }}
                            {% if form.completed_image.help_text %}
                                <small>{{ form.completed_image.help_text }}</small>
                            {% endif %}
                        </div>
                        <button type="submit" name="edit_status_in_work">Изменить на done</button>
                    {%else%}
                        <button type="submit" disabled>Изменить на done</button>
                    {% endif %}
                    </form>
                </div>
        </div>

        <div style="border: 1px solid; padding: 20px; border-radius: 5px;">
            <h3>Изменить категорию</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label>
                    {{ form.category }}
                    {% if form.category.help_text %}
                        <small>{{ form.category.help_text }}</small>
                    {% endif %}
                </div>
                <button type="submit" name="edit_category" style="padding: 8px 16px; border: none; border-radius: 4px;">
                    Изменить категорию
                </button>
            </form>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <a href="{% url 'admin_panel' %}" style="padding: 8px 16px; color: white; text-decoration: none; border-radius: 4px;">
            Вернуться в админ панель
        </a>
    </div>

{%endblock%}